<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/profile">Profile</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-auth</span>
      <span class="navbar-spacer"></span>
      <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
        <!-- <button (click)="signIn()">Sign in</button> -->
        <button
          mat-raised-button
          type="button"
          (click)="signIn()"
          aria-label="Toolbar login icon"
          color="primary"
        >
          Login<mat-icon>login</mat-icon>
        </button>
      </ng-container>

      <ng-template #signout>
        <!-- <button (click)="signOut()">Sign out</button> -->
        <button
          type="button"
          (click)="signOut()"
          mat-raised-button
          color="primary"
        >
          Logout<mat-icon aria-label="Toolbar logout icon">logout</mat-icon>
        </button>
      </ng-template>

      <span class="demo-source">
        <button mat-button [matMenuTriggerFor]="demoMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #demoMenu="matMenu">
          <a
            href="https://github.com/ralftar/ng-mat-carousel"
            target="_blank"
            mat-menu-item
          >
            <mat-icon>code</mat-icon>Source code
          </a>
          <button mat-menu-item (click)="toggleTheme()">
            <mat-icon>
              {{ darkMode ? "invert_colors_off" : "invert_colors" }}
            </mat-icon>
            Toggle theme
          </button>
        </mat-menu>
      </span>
      <!-- </mat-toolbar>÷ -->
      <!-- <ngx-avatar></ngx-avatar> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <div class="wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of apiData1">
          <ng-template class="slide" carouselSlide [width]="250" id="slide.id">
            <img [src]="slide.url" [alt]="slide.id" [title]="slide.id" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div> -->
    <!-- <app-carousel-holder></app-carousel-holder> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
